@font-face {
  font-family: "Rubic One";
  src: url(/fonts/rubic-one.woff);
  font-display: swap;
}

@font-face {
  font-family: "Anonymous Pro";
  src: url(/fonts/anonymouspro-regular.woff);
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "Anonymous Pro";
  src: url(/fonts/anonymouspro-bold.woff);
  font-weight: bold;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Arial", serif;
  font-size: 26px;
  max-width: 1728px;
  min-width: 365px;
  margin: 0 auto;
  background-color: #505050;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Arial", sans-serif;
  margin: 0;
  color: white;
}

ul,
ol,
li,
p {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
}
